<#@ Dsl processor="DslDirectiveProcessor" requires="fileName='..\..\Dsl\DslDefinition.dsl'" #>
<#
	// CmdSet Guid must be defined before master template is included
	// This Guid must be kept synchronized with the CommandSetId Guid in Constants.tt
	Guid guidCmdSet = new Guid ("a3a5b83f-0a62-42db-8ecb-c133e24a1866");
#>
<#@ include file="DslPackage\GeneratedVSCT.tt" #>
